<<<<<<< HEAD
<p><label>Example setting</label><%= text_field_tag 'settings[sample_setting]', @settings['sample_setting'] %></p>

<p><label>Foo</label><%= text_field_tag 'settings[foo]', @settings['foo'] %></p>
=======
<p><label>Example setting</label><%= text_field_tag 'settings[sample_setting]', @settings['sample_setting'] %></p>

<p><label>Foo</label><%= text_field_tag 'settings[foo]', @settings['foo'] %></p>
>>>>>>> 3817f1e30455f4df5135af5f608f1a3912fcf4ff
