<<<<<<< HEAD
<h3><%=l(:label_document_plural)%></h3>

<%= render :partial => 'documents/document', :collection => documents_items %>
=======
<h3><%=l(:label_document_plural)%></h3>

<%= render :partial => 'documents/document', :collection => documents_items %>
>>>>>>> 3817f1e30455f4df5135af5f608f1a3912fcf4ff
