<<<<<<< HEAD
<div class="contextual">
<%= link_to l(:button_copy), {:action => 'copy'}, :class => 'icon icon-copy' %>
<%= link_to l(:field_summary), {:action => 'index'}, :class => 'icon icon-summary' %>
</div>
=======
<div class="contextual">
<%= link_to l(:button_copy), {:action => 'copy'}, :class => 'icon icon-copy' %>
<%= link_to l(:field_summary), {:action => 'index'}, :class => 'icon icon-summary' %>
</div>
>>>>>>> 3817f1e30455f4df5135af5f608f1a3912fcf4ff
