<<<<<<< HEAD
<h2><%= l(:label_settings) %></h2>

<%= render_tabs administration_settings_tabs %>

<% html_title(l(:label_settings), l(:label_administration)) -%>
=======
<h2><%= l(:label_settings) %></h2>

<%= render_tabs administration_settings_tabs %>

<% html_title(l(:label_settings), l(:label_administration)) -%>
>>>>>>> 3817f1e30455f4df5135af5f608f1a3912fcf4ff
