<<<<<<< HEAD
<h2><%=l(:label_settings)%></h2>

<%= render_tabs project_settings_tabs %>

<% html_title(l(:label_settings)) -%>
=======
<h2><%=l(:label_settings)%></h2>

<%= render_tabs project_settings_tabs %>

<% html_title(l(:label_settings)) -%>
>>>>>>> 3817f1e30455f4df5135af5f608f1a3912fcf4ff
