<<<<<<< HEAD
<%= link_to h(@added_to), @added_to_url %><br />

<ul><% @attachments.each do |attachment | %>
<li><%=h attachment.filename %></li>
<% end %></ul>
=======
<%= link_to h(@added_to), @added_to_url %><br />

<ul><% @attachments.each do |attachment | %>
<li><%=h attachment.filename %></li>
<% end %></ul>
>>>>>>> 3817f1e30455f4df5135af5f608f1a3912fcf4ff
