<<<<<<< HEAD
<p><%= l(:mail_body_register) %><br />
<%= link_to h(@url), @url %></p>
=======
<p><%= l(:mail_body_register) %><br />
<%= link_to h(@url), @url %></p>
>>>>>>> 3817f1e30455f4df5135af5f608f1a3912fcf4ff
