<<<<<<< HEAD
<p><%= l(:mail_body_wiki_content_added, :id => link_to(h(@wiki_content.page.pretty_title), @wiki_content_url),
                                        :author => h(@wiki_content.author)).html_safe %><br />
<em><%=h @wiki_content.comments %></em></p>
=======
<p><%= l(:mail_body_wiki_content_added, :id => link_to(h(@wiki_content.page.pretty_title), @wiki_content_url),
                                        :author => h(@wiki_content.author)).html_safe %><br />
<em><%=h @wiki_content.comments %></em></p>
>>>>>>> 3817f1e30455f4df5135af5f608f1a3912fcf4ff
