<<<<<<< HEAD
<%= form_tag(signout_path) do %>
  <p><%= submit_tag l(:label_logout) %></p>
<% end %>
=======
<%= form_tag(signout_path) do %>
  <p><%= submit_tag l(:label_logout) %></p>
<% end %>
>>>>>>> 3817f1e30455f4df5135af5f608f1a3912fcf4ff
