<<<<<<< HEAD
<h3>Sample block</h3>

You are <strong><%= h(User.current) %></strong> and this is a sample block for My Page added from a plugin.
=======
<h3>Sample block</h3>

You are <strong><%= h(User.current) %></strong> and this is a sample block for My Page added from a plugin.
>>>>>>> 3817f1e30455f4df5135af5f608f1a3912fcf4ff
